NEXT_PUBLIC_API_URL=
# Optional. If empty, this is derived from NEXT_PUBLIC_API_URL.
NEXT_PUBLIC_WS_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
